<!-- List: show.html.erb -->
<h1><%= @list.name %> Workout</h1>
<ul>
  <li>High Intensity Duration: 00:<%= @list.high_time %></li>
  <li>Rest Duration: 00:<%= @list.low_time %></li>
</ul>

<%= form_for( [@list, @list.exercises.build] ) do |f| %>
  <p>
    <%= f.hidden_field :list_id, :value => @list.id %>
    <%= f.label "New Exercise: " %>
    <%= f.text_field :name, :placeholder => "Add new exercise" %>

    <%= f.submit "Add workout" %>
  </p>
<% end %>

<% if @exercises %>
<ol>
  <% @exercises.each do |exercise| %>
  <li class="exercise"><%= exercise.name %></li>
  <% end %>
</ol>

<% else %>
<p>You have no exercises in this HIIT List! Add more exercises.</p>
<% end %>

<div>
  <h1 id="current_exercise">...</h1>
</div>

<div>
<h1 id="timer">...</h1>
</div>

<div>
  <button type="button" id="start">Begin HIIT!</button>
</div>

<br>
<div>
  <button type="button" id="pause">Pause</button>
</div>
<br>
<div>
  <button type="button" id="resume">Resume</button>
</div>

<div>
  <h4 id="next_exercise"> </h4>
</div>

<audio id="bell" src="<%= audio_path("bell.mp3") %>"></audio>

<%= content_for :header do %><script><%= javascript_include_tag "timer" %></script><% end %>