<!-- List: show.html.erb -->
<h1><%= @list.name %> Workout</h1>
<ul>
  <li>High Intensity Duration: 00:<%= @list.high_time %></li>
  <li>Rest Duration: 00:<%= @list.low_time %></li>
</ul>

<%= form_for( [@list, @list.exercises.build] ) do |f| %>
  <p>
    <%= f.hidden_field :list_id, :value => @list.id %>
    <%= f.label "New Exercise: " %>
    <%= f.text_field :name, :placeholder => "Add new exercise" %>

    <%= f.submit "Add workout" %>
  </p>
<% end %>

<% if @exercises %>
<ol>
  <% @exercises.each do |exercise| %>
  <li class="exercise"><%= exercise.name %></li>
  <% end %>
</ol>

<% else %>
<p>You have no exercises in this HIIT List! Add more exercises.</p>
<% end %>

<div>
  <h1 id="current_exercise">...</h1>
</div>

<div>
<h1 id="timer">...</h1>
</div>


<!--
<script>
var seconds = 10;
function secondPassed() {
    var minutes = Math.round((seconds - 30)/60);
    var remainingSeconds = seconds % 60;
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
    if (seconds == 0) {
        clearInterval(countdownTimer);
        document.getElementById('countdown').innerHTML = "Buzz Buzz";
    } else {
        seconds--;
    }
}

var countdownTimer = setInterval('secondPassed()', 1000);
</script> -->