<h1>Confidential List of All Users</h1>

<h3>Create a new user</h3>
<%= form_for :user, url: users_path do |f| %>
  <div>
    <p>
      <%= f.label "Username" %>
      <%= f.text_field :name, :placeholder => "e.g. John Doe" %>
    </p>

    <p>
      <%= f.label "E-mail" %>
      <%= f.text_field :email, :placeholder => "e.g. johndoe@bmail.com" %>
    </p>

    <p>
    <%= f.submit "Create" %>
    </p>
  </div>
<% end %>


<% if @users %>
<ul>
<% @users.reverse.each do |user| %>
  <li>
  <%= link_to "#{user.name}", user_path(user) %>
  </li>
<% end %>
</ul>

<% else %>

Sorry!  There are no users in the database. Please try seeding again.

<% end %>