<!-- show.html.erb -->
<header class="workout_title">

  <h1>Welcome Back, <%= @user.name %>!</h1>
</header>

<section>
<h3>Create a new HIIT List</h3>
<%= form_for [@user, @user.lists.build] do |f| %>
  <div>
      <%= f.hidden_field :user_id, :value => @user.id %>
<!--       <%= f.label "New List Name: " %>
 -->      <%= f.text_field :name, :placeholder => "e.g. Pump it up List" %>

    <p>
    <%= f.submit "Create" %>
    </p>

  </div>
<% end %>
</section>

<section>
<% if @lists %>
<h2>Your HIIT Lists</h2>
  <% @lists.each do |list| %>
  <a class="plain-link" href="http://localhost:3000/users/<%= @user.id %>/lists/<%= list.id %>">
    <div class="list-item">
      <h4><%= list.name %> Workout</h4>
    </div>
  </a>
  <% end %>
<% else %>
<p>You have no HIIT Lists! Try creating a new one.</p>
<% end %>
</section>



  <!-- <p>If the user is logged in, this will show the user's logged in view.</p>

  <p>If a user is not logged in, this will display a login or register option.</p>
 -->
